<div class="col-sm-12 mt-4 margin">
    <div style="margin-top: 10px;">
        <div class="pills">
            <ul class="nav nav-pills">
                <li routerLinkActive="active" routerLink="dashboard-model">
                    <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                        Model
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="dashboard-agency">
                    <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                        Agency
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>