<div class="col-sm-12 mt-3">
    <mat-card class="filter" style="background-color: lightblue !important;">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <div class="row">
                        <label class="control-label col-sm-3 mt-1">Supplier Name :</label>
                        <div class="col-sm-8">
                            <input type="text" [value]="'ABC Suppliers Ltd'" class="form-control"
                                placeholder="Enter Audit Date" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div class="row">
                        <label class="control-label col-sm-3 mt-1">Supplier Code :</label>
                        <div class="col-sm-8">
                            <input type="text" [value]="'2024/Process/10228'" class="form-control"
                                placeholder="Enter Audit Date" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div class="row">
                        <label class="control-label col-sm-3 mt-1">Commodity:</label>
                        <div class="col-sm-8">
                            <input type="text" [value]="'Casting'" class="form-control" placeholder="Enter Audit Date"
                                disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div class="row">
                        <label class="control-label col-sm-3 mt-1">State:</label>
                        <div class="col-sm-8">
                            <input type="text" [value]="'Karnataka'" class="form-control" placeholder="Enter Audit Date"
                                disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div class="row">
                        <label class="control-label col-sm-3 mt-1">City:</label>
                        <div class="col-sm-8">
                            <input type="text" [value]="'Bangalore'" class="form-control" placeholder="Enter Audit Date"
                                disabled>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 form-group">
                    <div class="row">
                        <label class="control-label col-sm-3 mt-1">Auditor :</label>
                        <div class="col-sm-8">
                            <input type="text" [value]="'Jane Smith'" class="form-control"
                                placeholder="Enter Audit Date" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div class="row">
                        <label class="control-label col-sm-3 mt-1">Audit Type :</label>
                        <div class="col-sm-8">
                            <input type="text" [value]="'Process Audit'" class="form-control"
                                placeholder="Enter Audit Date" disabled>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 form-group">
                    <div class="row">
                        <label class="control-label col-sm-3 mt-1">Audit Date:</label>
                        <div class="col-sm-8">
                            <input type="date" [(ngModel)]="auditDate" class="form-control"
                                placeholder="Enter Audit Date" disabled>
                        </div>
                    </div>
                </div>
            </div>


        </mat-card-content>
    </mat-card>
</div>