<div class="col-sm-6 mt-5">
    <div class="col-sm-12">
        <button mat-raised-button color="primary" class="pull-right mt-3" (click)="addmodule(null)">
            <mat-icon>add</mat-icon> Add State
        </button>
        <button mat-raised-button class="pull-right margin-right-10 mt-3" style="background-color: black; color: white;"
            (click)="filterToggle = !filterToggle">
            <mat-icon>filter_list</mat-icon> Filter
        </button>
    </div>
    <!-- Filter -->
    <div class="col-sm-12 mt-3 mb-4" fxLayout="row wrap" *ngIf="filterToggle">
        <div fxFlex="100" fxFlex.gt-sm fxFlex.sm>
            <mat-card class="filter">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label class="pull-right" style="margin-top: 6px;">City Name </label>
                            </div>
                            <div class="col-sm-6">
                                <mat-select class="form-control" placeholder="Select Supplier Code" required>
                                    <mat-option [value]="0">SUP1234</mat-option>
                                    <mat-option [value]="1">SUP1234</mat-option>
                                    <mat-option [value]="2">SUP1234</mat-option>
                                    <mat-option [value]="4">SUP1234</mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <label class="pull-right" style="margin-top: 6px;">Status:</label>
                            </div>
                            <div class="col-sm-6">
                                <mat-select class="form-control" placeholder="Select Status" required>
                                    <mat-option *ngFor="let option of Status" [value]="option.value">
                                        {{option.name}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button mat-raised-button class="pull-right btn-primary" style="margin-left: 5px;">
                                <mat-icon>youtube_searched_for</mat-icon> Go
                            </button>
                            <button mat-raised-button style="background-color:#37474f; color:#fff !important;"
                                class="pull-right">
                                <mat-icon>settings_backup_restore</mat-icon> Clear
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
    <!-- Table -->
    <div class="col-sm-12 mt-3">
        <div id="grid-table-container" class="table-responsive">
            <table matSort id="example2" class="table table-bordered table-hover">
                <thead class="tbl-head">
                    <tr>
                        <!-- <th>City Name</th> -->
                        <th>Sate Name</th>
                        <th class="text-center">Status</th>
                        <th class="text-center" style="width: 112px!important;">Manages</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of values">
                        <!-- <td>{{item.cityname}}</td> -->
                        <td>{{item.statename}}</td>
                        <td style="text-align: center !important;">
                            <a [ngStyle]="{'color': item.status? 'blue' : 'red','cursor':'pointer'}" placement="left"
                                (confirm)="saveStatus();item.status=!item.status" matTooltip="Click to Change Status">
                                {{item.status?'Active':'Inactive'}}
                            </a>
                        </td>

                        <td class="text-center editDel">
                            <a style="cursor: pointer;margin-right:10px;" matTooltip="Edit" (click)="addmodule(item)">
                                <i class="fa fa-edit" style="color: cornflowerblue"></i>
                            </a>
                            <a><i class="fa fa-trash red" matTooltip="Delete" style="cursor: pointer;"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>