.vamshi {
    margin-left: -1cm;
}

css .add-job-code {
    background: #fff !important;
    cursor: pointer;
    font-size: 16px !important;
    color: rgba(5, 214, 68, 0.82) !important;
}

.delete-job-code {
    background: #fff !important;
    cursor: pointer;
    font-size: 16px !important;
    color: red !important;
}

.no-padding {
    padding: 0px !important;
}