
<div class="row-wrap">
    <div class="w-100">
      <div class="col-sm-9" style="margin-top: 15px; padding-left: 0px;">
        <div class="pills">
          <ul class="nav nav-pills" style="margin-left: 10px;">
            <li routerLinkActive="active" routerLink="obj-setup-audit-type">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Audit Types
              </a>
            </li>
            <li routerLinkActive="active" routerLink="obj-setup-category-master">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Category Master
              </a>
            </li>
            <li routerLinkActive="active" routerLink="obj-setup-measure-master">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Measure Master
              </a>
            </li>
            <li routerLinkActive="active" routerLink="obj-setup-modules-checkpoints">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Modules & Checkpoints
              </a>
            </li>
  
            
  
            <li routerLinkActive="active" routerLink="obj-setup-monthly-targets">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Monthly Targets
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>