<div class="NewHeader">
  <h1 mat-dialog-title>
    <!-- <span>{{ data ? 'Update' : 'Add'}} Description</span> -->
    <span>Add Document</span>
  </h1>
</div>



<div class="col-12">
  <div class="row">
    <div mat-dialog-content>

      <div class="form-group" *ngFor="let item of addLookupGroup.get('lookupNameDetails')['controls']; let i = index;">
        <label class="control-label col-sm-3 mt-3 no-padding add-member-label" *ngIf="i<1">Documents: </label>
        <div class="col-sm-3 no-padding" *ngIf="i>0"></div>
        <ng-container>
          <div class="col-sm-7 mt-2 no-padding">
            <input type="search" class="form-control" placeholder="Enter Documents Items">
          </div>
          <div class="col-sm-2 mt-2">
            <a *ngIf="addLookupGroup.get('lookupNameDetails')['controls'].length>1" align="center"
              (click)="fnLookupDeleteItemModal(i)">
              <i class="fa fa-trash red dhe"></i>
            </a>
            <a *ngIf="i<1" (click)="addNewInputField(0)">
              <i class="fa fa-plus dhe"></i>
            </a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-8 pull-right margin-top:50px">
  <div class="mt-5">

    <mat-dialog-actions align="end">
      <button mat-raised-button class="btn-primary" type="button" (click)="close()">
        <mat-icon>send</mat-icon> <span>{{ data ? ' Update' : ' Save'}}</span>
      </button>
      <button mat-raised-button (click)="close()" type="button"
        style="color: rgb(7, 10, 7); background-color: #e0e0e0;">
        <mat-icon>cancel</mat-icon> Close
      </button>
    </mat-dialog-actions>
  </div>
</div>