.s {
    width: 15% !important;
    background-color: rgb(246, 252, 252);
}

.s2 {
    // width: 10% !important;
    margin-top: 10px;
    margin-left: 5px;
    width: 8% !important;
    height: 10%;
}

.d {
    margin-left: 1.5%;

}

//.col {
// background-color: rgb(243, 241, 241);


//}

.col-lg {
    padding: 1.5%;
    margin-bottom: 2% !important;
}

.s1 {
    margin-top: 10px;
    margin-left: 5px;
}

// .hover:hover {
//     color: #222222 !important;
//     // background: #B2BEB5 !important;
//     background: #E3E3E3 !important;
// }

// .hover1:hover {
//     color: #222222 !important;
//     background: #F88379 !important;
// }
// .hover2:hover {
//     color: #222222 !important;
//     background: #78d196 !important;
// }
// .hover3:hover {
//     color: #222222 !important;
//     background: #8dddc8 !important;
// }
// .hover4:hover {
//     color: #222222 !important;
//     background: #FFEA00 !important;
// }

.margin {
    margin-left: -23px;
}