<div class="col-xs-12 ">
  <div class="pills margin">
    <ul class="nav nav-pills">
      <li routerLinkActive="active" routerLink="system">
        <a mat-raised-button class="navtabWidth1">
          Syatem (19)
        </a>
      </li>
      <li routerLinkActive="active" routerLink="capability">
        <a mat-raised-button class="navtabWidth1">
          Capability (25)
        </a>
      </li>
      <!-- <li routerLinkActive="active" routerLink="notes">
        <a mat-raised-button class="navtabWidth">
          Notes
        </a>
      </li> -->
    </ul>
  </div>

  <div class="col-sm-12 mt-5">
    <router-outlet></router-outlet>
  </div>

</div>