<div class="col-lg-12 col-sm-12 mt-5">
    <div class="form-group col-sm-5 pull-right">
        <label class=" control-label col-sm-4 add-member-label">Select Date: </label>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input type="date" class="form-control" style="width:5cm;" placeholder="Select Date ">
        </div>
        <button mat-raised-button color="primary" class="pull-right filters-hover ">
            Go
        </button>
    </div>
    <div class="col-lg-8 col-sm-8 ">
        <div class="row">
            <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi" [xAxis]="showXAxis"
                [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [gradient]="gradient"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                [legendTitle]="legendTitle" (select)="onSelect($event)" (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>

    <div class="s d table-bordered hover col-sm-2" style="background-color: #50C878;    margin-left: 52px;">
        <div class="s1">
            <h3>PQA : 90/90(A)</h3>
            <h3>AVG : 85/90</h3>
            <!-- <h4>Hector</h4> -->
            <h4 style="text-align:end;" matTooltip="Subjective Audit">HECTOR (SUB)</h4>
        </div>
    </div>

    <div class="col-lg-4 col-sm-4 mt-3">
        <div class="col-sm-12 mb-5">
            <h3>Key Issues : </h3>
            <h4>1.Fuel filler hinge area/Fuel flap edge - Thin Paint & Paint Run down</h4>
            <h4>2. RHR BSO Ding</h4>
            <h4>3. LHR Door outer scratch</h4>
            <h4>4. Roof rail - Sink marks / Waviness</h4>
            <h4>5. Rear bumper contamination</h4>
        </div>
    </div>
    <div class="col-sm-12">

        <button mat-raised-button class="pull-right add-dark-hover btn-default" (click)="close()">
            <mat-icon>cancel</mat-icon>Close
        </button>
        <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10 ">
            <mat-icon>download</mat-icon> Download Report
        </button>
    </div>
</div>