<div class="row col-5 pull-right">
    <label class="col-5" style="margin-top: 27px;text-align: end;">Select Project:</label>&nbsp;
    <mat-select multiple  class="form-control col-4" style="margin-top: 25px;"  placeholder="Select Project Code" >
      <mat-option>GOOG/KA/BLR/2021/017</mat-option>
      <mat-option>TCS0/TS/HYD/2021/012</mat-option>
      <mat-option>WIP/KA/BLR/2021/001</mat-option>
      <mat-option>OMG/TS/HYD/2022/312</mat-option>
    </mat-select>
    <button style="margin-top: 21px;margin-left: 15px;"  mat-raised-button  class="btn-success pull-right">
      GO
   </button>
  </div>
  
  <div class="col-sm-12 margin-top-10" style="padding-left: 20px; padding-right: 10px;">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="tbl-head">
                <tr class="tr-grid-header">
                    <th style="width: 150px;">PO/WO Reference</th>
                    <th style="width: 250px;">Vendor Name</th>
                    <th style="width: 150px;">PO/WO Date</th>
                    <th style="width: 150px;">Final Delivery Date</th>
                    <th class="text-center" style="width: 250px;">Items & Quantities</th>
                    <th class="text-center" style="width: 250px;">Consignments</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
  
                    <td>{{item.poref}}</td>
                    <td>{{item.vendor}}</td>
                    <td>{{item.podate}}</td>
                    <td class="text-left">{{item.podate}}</td>
                    <td class="text-center" style="color: blue;cursor: pointer;" [routerLink]="['/client-login/items']" routerLinkActive="router-link-active" >{{item.items}}</td>
                    <td class="text-center" style="color: blue;cursor: pointer;" [routerLink]="['/client-login/consignments']" routerLinkActive="router-link-active" >{{item.consign}}</td>
  
                </tr>
            </tbody>
        </table>
    </div>
  </div>