<div class="NewHeader">
    <h1 mat-dialog-title>Grid View Configuration </h1>
</div>

<div class="container" style="margin-left:40px;">
    <h4 class="newMarginClass" style="color:brown;">**Please select the required columns in the grid**</h4>
    <div mat-dialog-content style="overflow:hidden!important;">

        <!-- Grid Names -->
        <form class="form-horizontal" novalidate style="margin-top:10px">
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">Audit Reference</mat-checkbox>
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">Commodity</mat-checkbox>
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">Location Factory</mat-checkbox>
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">Supplier</mat-checkbox>
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">Auditor</mat-checkbox>
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">Audit Date</mat-checkbox>
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">Issues</mat-checkbox>
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">CAPA</mat-checkbox>
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">Score</mat-checkbox>
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">Status</mat-checkbox>
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">Done</mat-checkbox>
            <mat-checkbox class="col-sm-4 newMarginClass" [checked]="true">Action</mat-checkbox>
        </form>
    </div>
</div>
<!-- Button -->
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="close()"><mat-icon>send</mat-icon>&nbsp;Configure</button>
    <button mat-raised-button class="CancelClass" (click)="close()"><mat-icon>cancel</mat-icon>Cancel</button>
</mat-dialog-actions>