<div class="col-sm-12">
  <div class="row-wrap">
    <div class="w-100">
      <div class="col-sm-12">
        <div class="pills">
          <ul class="nav nav-pills">
            <!-- <li routerLinkActive="active" routerLink="obj-setup-audit-type">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Audit Types
              </a>
            </li> -->
            <li routerLinkActive="active" routerLink="obj-setup-category-master">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Parts Audit Categories
              </a>
            </li>
            <li routerLinkActive="active" routerLink="parts-family">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Parts Families
              </a>
            </li>
            <li routerLinkActive="active" routerLink="parts">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Parts Master
              </a>
            </li>
            <!-- <li routerLinkActive="active" routerLink="obj-setup-monthly-targets">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Monthly Targets
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>