<div class="row">
    <div class="dflex flex-column col-lg-12" style="margin-top:40px;">
        <form class="form-vertical" [formGroup]="myGroup" autocomplete="off">
            <div class="col-lg-5 col-5">
                <div class="form-group row">
                    <label class="control-label add-member-label mt-1">Email : </label>
                    <div class="">
                        <input type="text" class="form-control " formControlName="Email" placeholder="Enter Email">
                        <div class="error-text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-5">
                <div class="form-group row">
                    <label class="control-label add-member-label mt-1">Password : </label>
                    <div class="">
                        <input type="password" class="form-control " formControlName="Password"
                            placeholder="Enter Password">
                        <div class="error-text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-2">
                <button mat-raised-button class="pull-right m-5" color="primary" (click)="SaveCredentials()">
                    <mat-icon>send</mat-icon>
                    <span> Save</span>
                </button>
            </div>
        </form>
    </div>
</div>