<div class="NewHeader">
    <h1 mat-dialog-title>
        Image Details
    </h1>
</div>
<!-- <div class="col-sm-2">
    <div class="col-sm-12">
        <div class="pills">
            <ul class="nav nav-pills">
                <li routerLinkActive="active">
                    <a [ngStyle]="{'background-color':'red'}" mat-raised-button class="margin"
                        style="margin-top: 10px;">
                        <h2>121 : Gap</h2>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a [ngStyle]="{'background-color':'blue'}" mat-raised-button class="margin"
                        style="margin-top: 10px;">
                        <h2>122 : Gap</h2>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a [ngStyle]="{'background-color':'green'}" mat-raised-button class="margin"
                        style="margin-top: 10px;">
                        <h2>123 : Parallelism</h2>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a [ngStyle]="{'background-color':'black'}" mat-raised-button class="margin"
                        style="margin-top: 10px;">
                        <h2>124 : Alignment</h2>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a [ngStyle]="{'background-color':'green'}" mat-raised-button class="margin"
                        style="margin-top: 10px;">
                        <h2>125 : Symmetry</h2>
                    </a>
                </li>
            </ul>


        </div>
    </div>
    <div class="col-sm-8">
        <div mat-dialog-content>
            <form class="form-horizontal">
                <div class="form-group">
                    <h3><label class="control-label col-sm-4 ">Actual Value: </label></h3>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                        <input type="text" class="form-control" placeholder="Enter Actual Value ">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Position : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">Row 12 : Col 23
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">Serial No. : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">121
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">Check Point Name : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">Checkpoint-1
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">Measurement Name: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">Alignment
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">USL Name: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">1.25
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">LSL Name: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">0.20
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">Units: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">mm
                    </div>
                </div>

            </form>
        </div>
    </div>
</div> -->
<div class="col-sm-3">
    <div class="col-sm-12">
        <ul class="nav nav-pills">
            <li routerLinkActive="active">
                <a [ngStyle]="{'background-color':'red'}" mat-raised-button class="navtabWidth"
                    style="margin-top: 10px;">
                    <h2 class="text">121 : Gap</h2>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [ngStyle]="{'background-color':'green'}" mat-raised-button class="navtabWidth"
                    style="margin-top: 10px;">
                    <h2 class="text">123 : Parallelism</h2>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [ngStyle]="{'background-color':'black'}" mat-raised-button class="navtabWidth"
                    style="margin-top: 10px;">
                    <h2 class="text">124 : Alignment</h2>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [ngStyle]="{'background-color':'red'}" mat-raised-button class="navtabWidth"
                    style="margin-top: 10px;">
                    <h2 class="text">125 : Symmetry</h2>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [ngStyle]="{'background-color':'green'}" mat-raised-button class="navtabWidth"
                    style="margin-top: 10px;">
                    <h2 class="text">121 : Gap</h2>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [ngStyle]="{'background-color':'black'}" mat-raised-button class="navtabWidth"
                    style="margin-top: 10px;">
                    <h2 class="text">New</h2>
                </a>
            </li>
            <!-- <li routerLinkActive="active">
                <a [ngStyle]="{'background-color':'blue'}" mat-raised-button class="margin" style="margin-top: 10px;">
                    <h2>122 : Gap</h2>
                </a>
            </li> -->
            <!-- <li routerLinkActive="active">
                <a [ngStyle]="{'background-color':'green'}" mat-raised-button class="margin" style="margin-top: 10px;">
                    <h2>123 : Parallelism</h2>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [ngStyle]="{'background-color':'black'}" mat-raised-button class="margin" style="margin-top: 10px;">
                    <h2>124 : Alignment</h2>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [ngStyle]="{'background-color':'green'}" mat-raised-button class="margin" style="margin-top: 10px;">
                    <h2>125 : Symmetry</h2>
                </a>
            </li> -->
        </ul>
    </div>
</div>

<div class="col-sm-8 pull-right">
    <div class="col-sm-12">
        <div mat-dialog-content>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-4 ">Actual Value: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                        <input type="text" class="form-control" placeholder="Enter Actual Value ">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Position : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">Row 5 : Col 4
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">Serial No. : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">121
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">Check Point Name : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">Checkpoint-1
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">Measurement Name: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">Alignment
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">USL Name: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">1.25
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">LSL Name: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">0.20
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">Units: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt-2">mm
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<div class="col-sm-12">
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" [mat-dialog-close]="'test'">
            <mat-icon>send</mat-icon><span>{{ data ? 'Update' : 'Save'}}</span>
        </button>
        <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">
            <mat-icon>cancel</mat-icon>Close
        </button>
    </mat-dialog-actions>
</div>