
  <div class="row-wrap">
    <div class="w-100">
  
      <div class="col-sm-9" style="margin-top: 15px; margin-left: -15px;">
        <div class="pills">
          <ul class="nav nav-pills" style="margin-left: 10px;">
            <li routerLinkActive="active" routerLink="sub-setup-audit-types">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Audit Types
              </a>
            </li>
            <li routerLinkActive="active" routerLink="sub-setup-module-master">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Module Master
              </a>
            </li>
            <li routerLinkActive="active" routerLink="sub-setup-function-master">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Function Master
              </a>
            </li>
            <li routerLinkActive="active" routerLink="sub-setup-image-gallery">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Image Gallery
              </a>
            </li>
            <li routerLinkActive="active" routerLink="sub-setup-defect-master">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Defect Master
              </a>
            </li>
            <li routerLinkActive="active" routerLink="sub-setup-issues-master">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Issue Master
              </a>
            </li>
            
  
            <li routerLinkActive="active" routerLink="sub-setup-monthly-targets">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Monthly Targets
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>

