<div class="pills" style="margin-left: 20px; margin-top: 10px;">
    <ul class="nav nav-pills">
        <li routerLinkActive="active" routerLink="active">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Active
            </a>
        </li>

        <li routerLinkActive="active" routerLink="parts-audit">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Parts Audit
            </a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>