<!-- <div class="row-wrap">
  <div class="w-100">
    <div class="col-xs-12" style="margin-top: 15px;">
      <div class="pills">
        <ul class="nav nav-pills" style="margin-left: 10px;">
          <li routerLinkActive="active" [routerLink]="['dashborad']">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
              Dashboard
            </a>
          </li>
          <li routerLinkActive="active" [routerLink]="['subjective-audits']">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
              Subjective Audits
            </a>
          </li>
          <li routerLinkActive="active" [routerLink]="['objective-audits']">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
              Objective Audits
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet> -->