<div class="NewHeader">
    <h1 mat-dialog-title>Assign Sections to Modules</h1>
</div>
<div mat-dialog-content style="overflow:hidden!important;">
    <form class="form-horizontal" novalidate style="margin-top:10px">
        <mat-checkbox class="col-sm-6">Static</mat-checkbox>
        <mat-checkbox class="col-sm-6">Dynamic</mat-checkbox>
        <mat-checkbox class="col-sm-6">Electrical</mat-checkbox>
        <mat-checkbox class="col-sm-6">Chasis & U B</mat-checkbox>
        <mat-checkbox class="col-sm-6">Rain Test</mat-checkbox>
    </form>
</div>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="close()">
        <mat-icon>send</mat-icon>Save
    </button>
    <button mat-raised-button class="CancelClass" (click)="close()">
        <mat-icon>cancel</mat-icon>Cancel
    </button>
</mat-dialog-actions>