<div class="NewHeader">
    <h1 mat-dialog-title>
        Add Document
    </h1>
</div>

  
<div class="form-group row">
    <label class="col-lg-4 control-label">Document Title : </label>
    <div class="col-lg-8">
        <input type="text" class="form-control" placeholder="Enter Document Title ">
    </div>
</div>
<div class="form-group row">
    <label class="control-label col-sm-5 ">Upload Document :</label>
    <div class="col-sm-7">
        <input type="file" #fileinput id="file-upload" placeholder="Enter Document">
    </div>
</div>
<div class="col-lg-12 margin-top:40px mb-10">


    <!-- <button mat-raised-button (click)="close(data)" class="mr-2" type="button"
                style="color: rgb(7, 10, 7); background-color: #e0e0e0; margin-right: 10px;">
                Back
            </button> -->
    <button mat-raised-button class="" type="button" (click)="close()"
        style="color: rgb(7, 10, 7); background-color: #e0e0e0; margin-left:8.5cm;">
        <mat-icon>cancel</mat-icon>Cancel
    </button>

    <button mat-raised-button class=" pull-right vamshi" type="button"
        style="color: rgb(251, 253, 251); background-color:rgb(10, 93, 182);">
        <mat-icon>save</mat-icon>
        Save
    </button>

</div>

