<div fxLayout="row wrap">
    <div class="w-100">
        <div class="flex-p">
            <div class="row wrap">
                <div class="col-sm-6">
                    <div class="pills w-100 flex-p">
                        <ul class="nav nav-pills ">
                            <button mat-raised-button style="background-color:#37474f;color:white"
                                class="pull-left mt-3" [routerLink]="['grid-view']">
                                <mat-icon>grid_on</mat-icon> Grid View
                            </button>
                            <button mat-raised-button color="primary" class=" btn-primary mt-3"
                                style="margin-left:12px ;" [routerLink]="['calenders']">
                                <mat-icon>date_range</mat-icon> Calender View
                            </button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>