.mat-tooltip {
    font-size: 12px;
    white-space: pre-line;
}

.table>thead>tr>th {
    min-width: 126px;
    vertical-align: bottom;
}


.mine {
    position: fixed;
    bottom: 80px;
    right: 40px;
    background-color: #e6e6e6 !important;
}