<div class="col-sm-12 mb-5">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="form-group" style="margin-top: 10px;">
                <label class="control-label col-sm-4 mt-4">Subject : </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control mt-3" placeholder="Enter Subject">
                </div>
            </div>

            <div class="form-group" style="margin-top: 10px;">
                <label class="control-label col-sm-4 mt-4">Upload PDF : </label>
                <div class="col-sm-7">
                    <input type="file" class="form-control mt-3">
                </div>
            </div>

            <div class="form-group" style="margin-top: 10px;">
                <label class="control-label col-sm-4 mt-4">Select Due Date : </label>
                <div class="col-sm-7">
                    <input type="date" class="form-control mt-3">
                </div>
            </div>

            <div class="form-group" style="margin-top: 10px;">
                <label class="control-label col-sm-4 mt-4">Select Completed Date : </label>
                <div class="col-sm-7">
                    <input type="date" class="form-control mt-3">
                </div>
            </div>

            <div class="form-group mt-3">
                <label class="control-label col-sm-4 mt-4">PDCA Status : </label>
                <div class="col-sm-7">
                    <mat-select class="form-control mt-3" placeholder="Select PDCA Status">
                        <mat-option [value]="0">Root cause Analysis under progress</mat-option>
                        <mat-option [value]="0">Root cause Analyzed & C/M identified</mat-option>
                        <mat-option [value]="0">C/M under implementation</mat-option>
                        <mat-option [value]="0">Closed</mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="form-group mt-5">
                <label class="control-label col-sm-4 mt-4">Severity : </label>
                <div class="col-sm-7">
                    <mat-select class="form-control mt-3" [value]="2" placeholder="Select Severity">
                        <mat-option [value]="0">1</mat-option>
                        <mat-option [value]="0">2</mat-option>
                        <mat-option [value]="0">3</mat-option>
                        <mat-option [value]="0">4</mat-option>
                        <mat-option [value]="0">5</mat-option>
                        <mat-option [value]="0">6</mat-option>
                        <mat-option [value]="0">7</mat-option>
                        <mat-option [value]="2">8</mat-option>
                        <mat-option [value]="0">9</mat-option>
                        <mat-option [value]="0">10</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form-group mt-3">
                <label class="control-label col-sm-4 mt-4">Occurrence : </label>
                <div class="col-sm-7">
                    <mat-select class="form-control mt-3" [value]="2" placeholder="Select Occurrence">
                        <mat-option [value]="0">1</mat-option>
                        <mat-option [value]="0">2</mat-option>
                        <mat-option [value]="0">3</mat-option>
                        <mat-option [value]="2">4</mat-option>
                        <mat-option [value]="0">5</mat-option>
                        <mat-option [value]="0">6</mat-option>
                        <mat-option [value]="0">7</mat-option>
                        <mat-option [value]="0">8</mat-option>
                        <mat-option [value]="0">9</mat-option>
                        <mat-option [value]="0">10</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form-group mt-3">
                <label class="control-label col-sm-4 mt-4">Detection : </label>
                <div class="col-sm-7">
                    <mat-select class="form-control mt-3" [value]="2" placeholder="Select Detection">
                        <mat-option [value]="0">1</mat-option>
                        <mat-option [value]="2">2</mat-option>
                        <mat-option [value]="0">3</mat-option>
                        <mat-option [value]="0">4</mat-option>
                        <mat-option [value]="0">5</mat-option>
                        <mat-option [value]="0">6</mat-option>
                        <mat-option [value]="0">7</mat-option>
                        <mat-option [value]="0">8</mat-option>
                        <mat-option [value]="0">9</mat-option>
                        <mat-option [value]="0">10</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <label class="control-label col-sm-4 mt-4">SOD Score : </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control mt-3" value="842" disabled>
                </div>
            </div>

            <div class="form-group" style="margin-top: 10px;">
                <label class="control-label col-sm-4 mt-4">Risk Rating : </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control mt-3" style="background-color: red; color: white;"
                        value="High" disabled>
                </div>
            </div>

            <div class="form-group" style="margin-top: 10px;" *ngIf="!isResolved">
                <label class="control-label col-sm-4 mt-1">
                    Mark as Resolved:
                </label>
                <div class="col-sm-7 mt-3">
                    <!-- Initial Checkbox to mark as resolved -->
                    <mat-checkbox [(ngModel)]="isResolved"></mat-checkbox>
                </div>
            </div>

            <!-- Conditional block that shows only when 'isResolved' is true -->
            <div class="form-group" style="margin-top: 10px;" *ngIf="isResolved">
                <label class="control-label col-sm-4 mt-1" style="color: green;">
                    Resolved
                </label>
                <div class="col-sm-7 mt-3">
                    <!-- Optional checkbox displayed when the first checkbox is checked -->
                    <mat-checkbox [(ngModel)]="isResolved"></mat-checkbox>
                </div>
            </div>

        </div>
        <div class="col-sm-6">

            <div class="form-group" style="margin-top: 10px;">
                <label class="control-label col-sm-4 mt-4">Observations : </label>
                <textarea class="form-control" rows="5" style="margin-left: 10px;"
                    placeholder="Enter Observations..."></textarea>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4">Corrective Actions : </label>
                <textarea class="form-control" rows="5" style="margin-left: 10px;"
                    placeholder="Enter Corrective Actions..."></textarea>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4">Supplier Remarks : </label>
                <textarea class="form-control" rows="5" style="margin-left: 10px;"
                    placeholder="Enter Remarks..."></textarea>
            </div>
        </div>
    </div>


    <div class="col-sm-12">
        <mat-card style="margin-left: 15px; background-color: rgb(236, 234, 234); display: flex; flex-direction: row;">
            <mat-card class="inner-card" (click)="fileInput.click()"
                style="margin: 5px; background-color: rgb(20, 19, 19); cursor: pointer; display: flex; justify-content: center; align-items: center; cursor: pointer;">
                <mat-icon style="color: white;">add</mat-icon>
            </mat-card>
            <mat-card class="inner-card"
                style="margin: 5px; display: flex; justify-content: center; align-items: center; cursor: pointer;"
                (click)="openImageDialog('assets/img8.jpg')">
                <img alt="logo" class="logo-default logo-img box-content-center" style="height: 80px; cursor: pointer;"
                    src="assets/img8.jpg">
            </mat-card>
            <mat-card class="inner-card" style="margin: 5px;" (click)="openImageDialog('assets/img12.jpeg')">
                <img alt="logo" class="logo-default logo-img box-content-center" style="height: 80px; cursor: pointer;"
                    src="assets/img12.jpeg">
            </mat-card>
            <mat-card class="inner-card" style="margin: 5px;" (click)="openImageDialog('assets/img13.jpg')">
                <img alt="logo" class="logo-default logo-img box-content-center" style="height: 80px; cursor: pointer;"
                    src="assets/img13.jpg">
            </mat-card>
            <mat-card class="inner-card"
                style="margin: 5px; display: flex; justify-content: center; align-items: center; cursor: pointer;"
                (click)="openImageDialog('assets/img11.jpg')">
                <img alt="logo" class="logo-default logo-img box-content-center" style="height: 80px; cursor: pointer;"
                    src="assets/img11.jpg">
            </mat-card>
            <mat-card class="inner-card" style="margin: 5px;" (click)="openImageDialog('assets/img5.jpg')">
                <img alt="logo" class="logo-default logo-img box-content-center" style="height: 80px; cursor: pointer;"
                    src="assets/img5.jpg">
            </mat-card>
        </mat-card>

        <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
    </div>





    <div class="mt-5 mb-5 col-sm-12">
        <button mat-raised-button class="pull-right" style="background-color: green; color: white; width: 90px;">
            Save
        </button>
    </div>
</div>