<!-- <div class="row col-12">
    <div class="col-6">
        <div style="margin-left: 2%">

            <div class="flex-p">
                <mat-card>
                    <div class="chart-header">
                        <p style="font-size: 20px;margin-top:10px;margin-left: 36%;">Distribution of demerit by category
                        </p>
                    </div>
                    <div class="w-100 h-300p">
                        <ngx-charts-pie-chart [scheme]="colorScheme" [results]="three" [legend]="showLegend"
                            [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut"
                            [gradient]="gradient">
                        </ngx-charts-pie-chart>
                    </div>
                </mat-card>
            </div>
        </div>

    </div>

    <div class="col-6">
        <div style="margin-left: 2%">

            <div class="flex-p">
                <mat-card>
                    <div class="chart-header">
                        <p style="font-size: 20px;margin-top:10px;margin-left: 36%;">Distribution of demerit by color
                        </p>
                    </div>
                    <div class="w-100 h-300p">
                        <ngx-charts-pie-chart [scheme]="colorScheme" [results]="three" [legend]="showLegend"
                            [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="true"
                            [gradient]="gradient">
                        </ngx-charts-pie-chart>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div class="row col-12">
    <div class="col-6">
        <div style="margin-left: 2%">

            <div class="flex-p">
                <mat-card>
                    <div class="chart-header">
                        <p style="font-size: 20px;margin-top:10px;margin-left: 36%;">Distribution of demerit by Model
                        </p>
                    </div>
                    <div class="w-100 h-300p">
                        <ngx-charts-pie-chart [scheme]="colorScheme" [results]="three" [legend]="showLegend"
                            [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut"
                            [gradient]="gradient">
                        </ngx-charts-pie-chart>
                    </div>
                </mat-card>
            </div>
        </div>

    </div>

    <div class="col-6">
        <div style="margin-left: 2%">

            <div class="flex-p">
                <mat-card>
                    <div class="chart-header">
                        <p style="font-size: 20px;margin-top:10px;margin-left: 36%;">Distribution of demerit by Audit
                            type</p>
                    </div>
                    <div class="w-100 h-300p">
                        <ngx-charts-pie-chart [scheme]="colorScheme" [results]="three" [legend]="showLegend"
                            [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="true"
                            [gradient]="gradient">
                        </ngx-charts-pie-chart>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div> -->