<!-- Add Filter Tabs -->
<div class="container-fluid" style="padding-right: 5px;
  padding-left: 0px; margin-bottom: 10px;">
    <div class="w-100">
        <div class="flex-p">
            <div class="row wrap">
                <div class="col-sm-12 no-padding">
                    <div class="row-wrap">
                        <div class="w-100">
                            <div class="row">
                                <div class="col-xs-6"></div>
                                <div class="col-xs-6">
                                    <div class="col-xs-6"></div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table -->
<div class="container-fluid" style="padding-right: 5px;
  padding-left: 12px;">
    <div fxLayout="row wrap" #resizedDiv>
        <div class="flex-p w-100 sizeAlign">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Sub Contractor Distribution</h4>
                    <div id="grid-table-container" class="table-responsive">
                        <table matSort id="example2" class="table table-bordered table-hover">
                            <thead class="tbl-head">
                                <tr>
                                    <th>Sub Contractor Name</th>
                                    <th>Draft</th>
                                    <th style="width: 112px!important;">Planning</th>
                                    <th>Site Eng</th>
                                    <th>PM</th>
                                    <th>Account</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of values">
                                    <td>
                                        {{item.category}}
                                    </td>
                                    <td>
                                        <a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.c}}
                                        </a>
                                    </td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.r2}}
                                        </a></td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.r1}}
                                        </a></td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.o}}
                                        </a></td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.o}}
                                        </a></td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.total}}
                                        </a></td>



                                </tr>
                            </tbody>
                            <thead class="tbl-head">
                                <tr>

                                    <th>Grand Total</th>

                                    <th>
                                        33
                                    </th>
                                    <th style="width: 112px!important;">14</th>
                                    <th>15</th>
                                    <th>20</th>
                                    <th>82</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pills">
                        <ul class="nav nav-pills" style="margin-left: 10px;">
                            <li routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="test1"
                                    [ngStyle]="{'background-color': testSelected == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu('testSelected')" class="navtabWidth">
                                    Draft
                                </a>
                            </li>
                            <li (click)="callPie()" routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="C"
                                    [ngStyle]="{'background-color': CSelected == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu('CSelected')" class="navtabWidth">
                                    Planning
                                </a>
                            </li>
                            <li (click)="callPie2()" routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="R2"
                                    [ngStyle]="{'background-color': R2Selected == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu('R2Selected')" class="navtabWidth">
                                    Site Eng
                                </a>
                            </li>

                            <li (click)="callPie3()" routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="R1"
                                    [ngStyle]="{'background-color': R1Selected == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu('R1Selected')" class="navtabWidth">
                                    PM
                                </a>
                            </li>
                            <li (click)="callPie4()" routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="O"
                                    [ngStyle]="{'background-color': OSelected == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu('OSelected')" class="navtabWidth">
                                    Account
                                </a>
                            </li>
                            <li (click)="callPie5()" routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="Total"
                                    [ngStyle]="{'background-color': Total == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu('Total')" class="navtabWidth">
                                    Total
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="testSelected"
                        style="margin-left: 11px; width: 670px; margin-top: 15px; margin-bottom: 15px;">
                        <div>
                            <canvasjs-chart [options]="chartOptions"
                                [styles]="{width: '90%', height:'320px'}"></canvasjs-chart>
                        </div>
                    </div>
                    <div *ngIf="CSelected" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
                        <div style="height: 400px;width: 600px;" #chartContainer id="pie-chart-container"></div>
                    </div>
                    <div *ngIf="R2Selected" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
                        <div style="height: 400px;width: 600px;" #chartContainer id="pie-chart-container"></div>
                    </div>
                    <div *ngIf="R1Selected" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
                        <div style="height: 400px;width: 600px;" #chartContainer id="pie-chart-container"></div>
                    </div>
                    <div *ngIf="OSelected" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
                        <div style="height: 400px;width: 600px;" #chartContainer id="pie-chart-container"></div>
                    </div>
                    <div *ngIf="Total" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
                        <div style="height: 400px;width: 600px;" #chartContainer id="pie-chart-container"></div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Project Distribution</h4>
                    <div id="grid-table-container" class="table-responsive">
                        <table matSort id="example2" class="table table-bordered table-hover">
                            <thead class="tbl-head">
                                <tr>
                                    <th>Projects</th>
                                    <th>Draft</th>
                                    <th style="width: 112px!important;">Planning</th>
                                    <th>Site Eng</th>
                                    <th>PM</th>
                                    <th>Account</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of values1">
                                    <td>
                                        {{item.category}}
                                    </td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.c}}
                                        </a></td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.r2}}
                                        </a></td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.r1}}
                                        </a></td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.o}}
                                        </a></td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.o}}
                                        </a></td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.total}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <thead class="tbl-head">
                                <tr>

                                    <th>Grand Total</th>

                                    <th>33</th>
                                    <th style="width: 112px!important;">14</th>
                                    <th>15</th>
                                    <th>20</th>
                                    <th>82</th>

                                </tr>
                            </thead>
                        </table>
                        <!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator> -->
                    </div>
                </div>



                <div class="col-sm-6">
                    <div class="pills">
                        <ul class="nav nav-pills" style="margin-left: 10px;">
                            <li routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="test1"
                                    [ngStyle]="{'background-color': NtestSelected == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu1('NtestSelected')" class="navtabWidth">
                                    Draft
                                </a>
                            </li>

                            <li (click)="callPie6()" routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="NO"
                                    [ngStyle]="{'background-color': NOSelected == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu1('NOSelected')" class="navtabWidth">
                                    Planning
                                </a>
                            </li>
                            <li (click)="callPie7()" routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="NR1"
                                    [ngStyle]="{'background-color': NR1Selected == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu1('NR1Selected')" class="navtabWidth">
                                    Site Eng
                                </a>
                            </li>
                            <li (click)="callPie8()" routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="NR2"
                                    [ngStyle]="{'background-color': NR2Selected == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu1('NR2Selected')" class="navtabWidth">
                                    PM
                                </a>
                            </li>
                            <li (click)="callPie9()" routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="NC"
                                    [ngStyle]="{'background-color': NCSelected == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu1('NCSelected')" class="navtabWidth">
                                    Account
                                </a>
                            </li>
                            <li (click)="callPie10()" routerLinkActive="active">
                                <a mat-raised-button style="color: black;" id="NTotal"
                                    [ngStyle]="{'background-color': NTotal == true ? '#808080' : '#ffffff'}"
                                    (click)="mainMenu1('NTotal')" class="navtabWidth">
                                    Total
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="NtestSelected"
                        style="margin-left: 11px; width: 670px; margin-top: 15px; margin-bottom: 15px;">
                        <div>
                            <canvasjs-chart [options]="chartOptions1"
                                [styles]="{width: '94%', height:'360px'}"></canvasjs-chart>
                        </div>
                    </div>
                    <div *ngIf="NCSelected == true" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
                        <div style="height: 400px;width: 600px;" #chartContainer1 id="pie-chart-container"></div>

                    </div>
                    <div *ngIf="NR2Selected" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
                        <div style="height: 400px;width: 600px;" #chartContainer1 id="pie-chart-container"></div>
                    </div>
                    <div *ngIf="NR1Selected" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
                        <div style="height: 400px;width: 600px;" #chartContainer1 id="pie-chart-container"></div>
                    </div>
                    <div *ngIf="NOSelected == true" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
                        <div style="height: 400px;width: 600px;" #chartContainer1 id="pie-chart-container"></div>
                    </div>
                    <div *ngIf="NTotal" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
                        <div style="height: 400px;width: 600px;" #chartContainer1 id="pie-chart-container"></div>
                    </div>
                </div>
            </div>
            <!-- third row -->

            <div class="row" style="margin-top: 33px;">
                <div class="col-sm-6">
                    <h4>Ageing Analysis of RA Bills</h4>
                    <div id="grid-table-container" class="table-responsive">
                        <table matSort id="example2" class="table table-bordered table-hover">
                            <thead class="tbl-head">
                                <tr>

                                    <th>Period</th>

                                    <th>Issues</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of values2">
                                    <td>
                                        {{item.period}}
                                    </td>
                                    <td><a (click)="navigate()" target="_blank" style="color: blue">
                                            {{item.issues}}
                                        </a></td>




                                </tr>
                            </tbody>

                        </table>
                        <!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator> -->
                    </div>
                </div>



                <div class="col-sm-6">
                    <div style="height: 400px;width: 600px;" #chartContainer3 id="pie-chart-container"></div>
                </div>
            </div>
            <!-- third row -->

            <!-- <div class="row">
        <div class="col-sm-6">
          <h4>RPN Distribution</h4>
          <div id="grid-table-container" class="table-responsive">
            <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                <tr>

                  <th>RPN </th>
                  <th>O</th>
                  <th style="width: 112px!important;">R1</th>
                  <th>R2</th>
                  <th>C</th>
                  <th>Total</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of values3">
                  <td>
                    {{item.category}}
                  </td>
                  <td><a (click)="navigate()" target="_blank" style="color: blue">
                      {{item.c}}
                    </a></td>
                  <td><a (click)="navigate()" target="_blank" style="color: blue">
                      {{item.r2}}
                    </a></td>
                  <td><a (click)="navigate()" target="_blank" style="color: blue">
                      {{item.r1}}
                    </a></td>
                  <td><a (click)="navigate()" target="_blank" style="color: blue">
                      {{item.o}}
                    </a></td>
                  <td><a (click)="navigate()" target="_blank" style="color: blue">
                      {{item.total}}
                    </a></td>



                </tr>
              </tbody>
              <thead class="tbl-head">
                <tr>

                  <th>Grand Total</th>

                  <th>33</th>
                  <th style="width: 112px!important;">14</th>
                  <th>15</th>
                  <th>20</th>
                  <th>82</th>

                </tr>
              </thead>
            </table>
          </div>
        </div>



        <div class="col-sm-6">
          <div class="pills">
            <ul class="nav nav-pills" style="margin-left: 10px;">
              <li routerLinkActive="active">
                <a mat-raised-button style="color: black;" id="test1"
                  [ngStyle]="{'background-color': NtestSelected == true ? '#808080' : '#ffffff'}"
                  (click)="mainMenu1('NtestSelected')" class="navtabWidth">
                  Distribution
                </a>
              </li>

              <li (click)="callPie11()" routerLinkActive="active">
                <a mat-raised-button style="color: black;" id="NO"
                  [ngStyle]="{'background-color': NOSelected == true ? '#808080' : '#ffffff'}"
                  (click)="mainMenu1('NOSelected')" class="navtabWidth">
                  O
                </a>
              </li>
              <li (click)="callPie12()" routerLinkActive="active">
                <a mat-raised-button style="color: black;" id="NR1"
                  [ngStyle]="{'background-color': NR1Selected == true ? '#808080' : '#ffffff'}"
                  (click)="mainMenu1('NR1Selected')" class="navtabWidth">
                  R1
                </a>
              </li>
              <li (click)="callPie13()" routerLinkActive="active">
                <a mat-raised-button style="color: black;" id="NR2"
                  [ngStyle]="{'background-color': NR2Selected == true ? '#808080' : '#ffffff'}"
                  (click)="mainMenu1('NR2Selected')" class="navtabWidth">
                  R2
                </a>
              </li>
              <li (click)="callPie14()" routerLinkActive="active">
                <a mat-raised-button style="color: black;" id="NC"
                  [ngStyle]="{'background-color': NCSelected == true ? '#808080' : '#ffffff'}"
                  (click)="mainMenu1('NCSelected')" class="navtabWidth">
                  C
                </a>
              </li>


              <li (click)="callPie15()" routerLinkActive="active">
                <a mat-raised-button style="color: black;" id="NTotal"
                  [ngStyle]="{'background-color': NTotal == true ? '#808080' : '#ffffff'}" (click)="mainMenu1('NTotal')"
                  class="navtabWidth">
                  Total
                </a>
              </li>
            </ul>
          </div>
          <div *ngIf="NtestSelected" style="margin-left: 11px; width: 670px; margin-top: 15px; margin-bottom: 15px;">
            <div>
              <canvasjs-chart [options]="chartOptions2" [styles]="{width: '94%', height:'360px'}"></canvasjs-chart>
            </div>
          </div>
          <div *ngIf="NCSelected == true" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
            <div style="height: 400px;width: 600px;" #chartContainer4 id="pie-chart-container"></div>

          </div>
          <div *ngIf="NR2Selected" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
            <div style="height: 400px;width: 600px;" #chartContainer4 id="pie-chart-container"></div>
          </div>
          <div *ngIf="NR1Selected" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
            <div style="height: 400px;width: 600px;" #chartContainer4 id="pie-chart-container"></div>
          </div>
          <div *ngIf="NOSelected == true" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
            <div style="height: 400px;width: 600px;" #chartContainer4 id="pie-chart-container"></div>
          </div>
          <div *ngIf="NTotal" style="margin-left: 11px; margin-top: 15px; margin-bottom: 15px;">
            <div style="height: 400px;width: 600px;" #chartContainer1 id="pie-chart-container"></div>
          </div>
        </div>
      </div> -->
        </div>
    </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>