<div class="col-sm-12 mt-4 mb-3">
  <button style="margin-bottom: 7px" mat-raised-button class="pull-right  btn-primary margin-right-5 mt-3"
    (click)="addcheckpoint(null)">
    <mat-icon>add</mat-icon> Add Image
  </button>
  <button style="margin-bottom: 7px" mat-raised-button color="primary"
    class="pull-right filters-hover margin-right-10 mt-3" (click)="filterToggle = !filterToggle">
    <mat-icon>filter_list</mat-icon> Filter
  </button>
  <button style="margin-bottom: 7px" mat-raised-button class="pull-right  btn-primary margin-right-10 mt-3"
    (click)="openUploadCSV()">
    <mat-icon>cloud_upload</mat-icon> Upload CSV
  </button>
  <button style="margin-bottom: 7px" mat-raised-button class="pull-right  btn-primary margin-right-10 mt-3"
    (click)="downloadSampleExcel()">
    <mat-icon>archive</mat-icon> Download Sample
  </button>
  <div class="switchToggle pull-right" style="margin-right:10px!important; margin-top: 5px!important;">
    <input type="checkbox" (click)="gridToggle = !gridToggle" id="switch" />
    <label class="mt-3" style="background-color: #3e98d3;" for="switch">Toggle</label>
  </div><label class="pull-right" style="margin-top:18px; margin-right: 16px;">Sort By : </label>
</div>
<div fxLayout="row wrap" *ngIf="filterToggle">
  <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
    <mat-card class="filter">
      <mat-card-content>
        <div class="row" style="padding-top:10px !important">
          <div class="col-sm-4">
            <div class="col-sm-4">
              <label class="pull-right" style="margin-top: 6px;">Category:</label>
            </div>
            <div class="col-sm-8">
              <mat-select class="form-control" placeholder="Select Variant:" required>
                <mat-option [value]="0">Exterior</mat-option>
                <mat-option [value]="1">Interior</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="col-sm-4">
              <label class="pull-right" style="margin-top: 6px;">Measurement Name:</label>
            </div>
            <div class="col-sm-8">
              <mat-select class="form-control" placeholder="Select Interior Trim:" required>
                <mat-option [value]="0">GAP( a )</mat-option>
                <mat-option [value]="1">GAP( b )</mat-option>
                <mat-option [value]="2">FLUSH</mat-option>
                <mat-option [value]="3">PARALLELISM </mat-option>
                <mat-option [value]="4">DIST</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="col-sm-4">
              <label class="pull-right" style="margin-top: 6px;">Status:</label>
            </div>
            <div class="col-sm-8">
              <mat-select class="form-control" placeholder="Select Status" required>
                <mat-option *ngFor="let option of Status" [value]="option.value">
                  {{option.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top:10px !important">
          <div class="col-sm-12">
            <button mat-raised-button class="pull-right btn-primary" style="margin-left: 5px;">
              <mat-icon>youtube_searched_for</mat-icon> Go&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
            <button mat-raised-button style="background-color:#37474f; color:#fff !important;" class="pull-right">
              <mat-icon>settings_backup_restore</mat-icon> Clear
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="col-sm-12">
  <table style="margin-top: 7px;padding-left: 0px; padding-right: 0px;" matSort id="example2"
    class="table table-bordered table-hover">
    <thead class="tbl-head">
      <tr>
        <th class="theadcolor">Module</th>
        <th class="theadcolor text-center">Audit Seq</th>
        <th class="theadcolor text-center">Dash Seq</th>
        <th class="theadcolor text-center">image</th>
        <th class="theadcolor text-center">Checkpoints</th>
        <th class="theadcolor text-center">Grid</th>
        <th class="theadcolor text-center">Status</th>
        <th class="theadcolor text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of values">
        <td>{{item.module}}</td>
        <td>{{item.audit}}</td>
        <td>{{item.audit}}</td>
        <td class="text-center">
          <mat-icon style="cursor: pointer;" (click)="imageSource(item.image)">
            visibility
          </mat-icon>
        </td>
        <td class="text-center">{{item.checkpoint}}</td>
        <td class="text-center">{{item.min}}</td>
        <td class="text-center"><a [ngStyle]="{'color': item.status? 'blue' : 'red','cursor':'pointer'}"
            matTooltip="Click to Change Status">
            {{item.status?'Active':'Inactive'}}
          </a></td>
        <td class="text-center editDel">
          <a style="cursor: pointer;margin-right:10px; " matTooltip="Edit" (click)="addcheckpoint(item)">
            <i class="fa fa-edit" style="color: cornflowerblue"></i>
          </a>
          <a><i class="fa fa-trash red" matTooltip="Delete" style="cursor: pointer;"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="4" [pageIndex]="0" [pageSize]="4" [pageSizeOptions]="[5, 10, 25, 50, 100]"
    showFirstLastButtons></mat-paginator>
</div>