<!-- <mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100 login-bg">


        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" style="position: relative;
         left: 0%;
         top: 0%;
         margin-bottom: 0%;">

            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-secondary box-header">
                    <div style="margin-top: auto;margin-bottom: auto;">





                        <img alt="logo" class="logo-default logo-img box-content-center"
                            style="height: 270px;  margin-bottom: 20px; margin-right:0px;" src="../../assets/mor.jpg">






                    </div>
                </div>




                
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class=" box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center"
                        class="mat-elevation-z12 box-content-inner">

                        <mat-form-field class="w-100">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                            <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput [type]="passwordType" placeholder="Password" formControlName="password"><i
                                class="fa fa-eye pull-right" style="position: absolute; top: 2px; right: 5px;"
                                (click)="togglePassword()"></i>
                            <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                            <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough,
                                minimum of 6 characters</mat-error>
                        </mat-form-field>
                        <div class="w-100">
                            <a [routerLink]="['/login/forgot']" class="pull-right" style="color:blue">Forgot
                                Password?</a>
                        </div>
                    </mat-card>
                    <button mat-raised-button class="bg-secondary mat-elevation-z12 box-button text-white"
                        type="submit">SIGN IN</button>
                </mat-card-content>

            </mat-card>
            <div class="col-12 " style="position: relative;
            left: 0%;
            top: 50%;
            margin-top: 20px; 
            margin-bottom: 0%;">
                <div class="col-12" style="margin-left: 5%;">
                </div>


            </div>

        </form>

    </div>

</mat-sidenav-container> -->






<mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100 login-bg">


        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" style="position: relative;
         left: 0%;
         top: 0%;
         margin-bottom: 0%;">

            <!-- First Card half up-->
            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-secondary box-header"
                    style="background: black;">
                    <div style="margin-top: auto;margin-bottom: auto;">

                        <div class="logodiv">
                            <img alt="logo" class="logo-default logo-img box-content-center"
                                style="height: 110px;  margin-bottom: 25px; margin-right:0px;" src="assets/logopng.png">
                            <!-- <h1 class="JWILLogo" style="color: white;">Option Matrix</h1> -->
                        </div>
                    </div>
                </div>



                <!-- First Card half down-->
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class=" box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center"
                        class="mat-elevation-z12 box-content-inner">

                        <mat-form-field class="w-100">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                            <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Password" [type]=TypeString formControlName="password">
                            <mat-icon *ngIf="showpass" matSuffix
                                style="cursor: pointer; font-size: 14px!important; margin-top: 12px;"
                                (click)="ChangetextType(isPassword = ! isPassword)">remove_red_eye</mat-icon>
                            <!-- <i *ngIf="TypeString==text" class="fa fa-eye-slash" aria-hidden="true" matSuffix style="cursor: pointer;  font-size: 14px!important;" (click)="ChangetextType(isPassword = ! isPassword)></i> -->
                            <i *ngIf="!showpass" matSuffix style="cursor: pointer;  font-size: 14px!important;"
                                (click)="ChangetextType(isPassword = ! isPassword)" class="fa fa-eye-slash"
                                aria-hidden="true"></i>
                            <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                            <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough,
                                minimum of 6 characters</mat-error>
                        </mat-form-field>
                        <div class="w-100">
                            <a [routerLink]="['/login/forgot']" class="pull-right" style="color:blue">Forgot
                                Password?</a>
                        </div>
                    </mat-card>
                    <button mat-raised-button class="bg-secondary mat-elevation-z12 box-button text-white"
                        color="primary" type="submit">SIGN IN</button>
                </mat-card-content>

            </mat-card>
            <div class="col-12 " style="position: relative;
            left: 0%;
            top: 50%;
            margin-top: 20px; 
            margin-bottom: 0%;">
                <div class="col-12" style="margin-left: 5%;">
                    <!-- <a href="#/home" style="color: #1c76c3; font-size: 18px;"><b>Public Home Page |</b>
                    </a>
                    <a [routerLink]="['/register']" style="color: #1c76c3;font-size: 18px;"> <b> RegistrationPage</b>
                    </a> -->
                </div>


            </div>

        </form>

    </div>

</mat-sidenav-container>