<!-- Add Filter Tabs -->
<div class="container-fluid" style="padding-right: 5px;
  padding-left: 0px;">
    <div class="w-100">
        <div class="flex-p">
            <div class="row wrap">
                <div class="col-sm-12 no-padding">
                    <div class="row-wrap">
                        <div class="w-100">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button mat-raised-button color="primary" class="pull-right"
                                        (click)="addParameter(null)">
                                        <mat-icon>person_add</mat-icon> Add Mitigation
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table -->
<div class="container-fluid" style="padding-right: 5px;
  padding-left: 0px;">
    <div fxLayout="row wrap" #resizedDiv>
        <div class="flex-p w-100 sizeAlign">
            <div class="row">
                <div class="col-sm-12">
                    <div id="grid-table-container" class="table-responsive">
                        <table matSort id="example2" class="table table-bordered table-hover">
                            <thead class="tbl-head">
                                <tr>

                                    <th class="text-center">Risk Mitigation</th>
                                    <th class="text-center">Start Date</th>
                                    <th class="text-center">Close Date</th>
                                    <th class="text-center">Lead Name</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of values">
                                    <td>{{item.risk}}</td>
                                    <td class="text-center">{{item.sdate}}</td>
                                    <td class="text-center">{{item.edate}}</td>
                                    <td class="text-center">{{item.lead}}</td>

                                </tr>
                            </tbody>
                        </table>
                        <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
                            [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>