<div class="col-sm-12">
    <div class="row-wrap">
        <div class="w-100">
            <div class="col-sm-12" style="margin-top: 15px; padding-left: 0px;">
                <div class="pills">
                    <ul class="nav nav-pills" style="margin-left: 10px;">
                        <li routerLinkActive="active" routerLink="psr">
                            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                PSR
                            </a>
                        </li>
                        <li routerLinkActive="active" routerLink="one-pager">
                            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                One Pager
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>