<div>
    <div class="col-xs-12" style="margin-left:8px;margin-top:10px;padding-right: 0px;padding-left: 0px;">
        <div id="grid-table-container" class="table-responsive" style="width: 99%;">
            <!-- Add,Download,upload & download csv tabs -->
            <div class="container-fluid">
                <div class="w-100">
                    <div class="flex-p">
                        <div class="row wrap">
                            <div class="col-sm-12 no-padding">
                                <div class="row-wrap">
                                    <div class="w-100">
                                        <div class="row pull-right" style="margin-right: -5px;">
                                            <div class="">
                                                <button style="margin-bottom: 7px" mat-raised-button color="primary"
                                                    class="pull-right  btn-primary margin-right-5 mt-3"
                                                    (click)="addtarget(null)">
                                                    <mat-icon>add</mat-icon> Add Image
                                                </button>
                                                <button style="margin-bottom: 7px" mat-raised-button
                                                    class="pull-right  btn-primary margin-right-10 mt-3"
                                                    (click)="openUploadCSV()">
                                                    <mat-icon>cloud_upload</mat-icon> Upload CSV
                                                </button>
                                                <button style="margin-bottom: 7px" mat-raised-button
                                                    class="pull-right  btn-primary margin-right-10 mt-3"
                                                    (click)="downloadSampleExcel()">
                                                    <mat-icon>archive</mat-icon> Download Sample CSV
                                                </button>
                                                <button style="margin-bottom: 7px" mat-raised-button
                                                    class="pull-right filters-hover margin-right-10 mt-3"
                                                    (click)="filterToggle = !filterToggle">
                                                    <mat-icon>filter_list</mat-icon> ZIP File Upload
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <table style="margin-top: 7px;padding-left: 0px; padding-right: 0px;" matSort id="example2"
                    class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr>
                            <th class="theadcolor text-center">Image Title</th>
                            <th class="theadcolor text-center">View Image</th>

                            <th class="theadcolor text-center">Checkpoints</th>
                            <th class="theadcolor text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of values">
                            <td class="text-center">{{item.title}}</td>
                            <td class="text-center">
                                <mat-icon style="cursor: pointer;" (click)="imageSource(item.image)">visibility
                                </mat-icon>
                                <!-- <img src="{{item.image}}" alt="Image"> -->
                            </td>
                            <td class="text-center">{{item.checkpoints}}</td>

                            <td class="text-center editDel">
                                <a style="cursor: pointer;margin-right:10px; " matTooltip="Edit"
                                    (click)="addtarget(item)">
                                    <i class="fa fa-edit" style="color: cornflowerblue"></i>
                                </a>
                                <a><i class="fa fa-trash red" matTooltip="Delete" style="cursor: pointer;"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="4" [pageIndex]="0" [pageSize]="4" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                    showFirstLastButtons></mat-paginator>
            </div>
            <div class="col-sm-3">
                <table style="margin-top: 7px;padding-left: 0px; padding-right: 0px;" matSort id="example2"
                    class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr class="theadcolor text-center">Image Displayed</tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <img style="height: 195px;" src="{{Image}}" *ngIf="hidden" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>