<!--Add Module and Filter Buttons-->
<div class="col-sm-12">

    <div class="container-fluid" style="padding-right: 1px; padding-left: 0px;">
        <div class="w-100">
            <div class="flex-p">
                <div class="row wrap">
                    <div class="col-sm-12 no-padding">
                        <div class="row-wrap">
                            <div class="w-100">
                                <div class="row">
                                    <div class="col-xs-6"></div>
                                    <div class="col-xs-6" style="margin-left: 6px;">
                                        <div class="col-xs-6"></div>
                                        <div class="col-xs-6">
                                            <button mat-raised-button color="primary"
                                                class="pull-right btn-primary mt-3" style="margin-left:10px ;"
                                                (click)="addmodule(null)">
                                                <mat-icon>add</mat-icon> Add Section
                                            </button>
                                            <button mat-raised-button style="background-color: black; color:white;"
                                                class="filters-hover pull-right mt-3"
                                                (click)="filterToggle = !filterToggle">
                                                <mat-icon>filter_list</mat-icon> Filter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Filter Toggle-->
    <div class="container-fluid" style="padding: 0% !important;">
        <div fxLayout="row wrap" *ngIf="filterToggle" style="margin-bottom: 10px">
            <div fxFlex="100" class="flex-p w-100 margins">
                <mat-card class="filter">
                    <form>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-6 row">
                                    <div class="col-4 mt-1">
                                        <b>Section Name :</b>
                                    </div>
                                    <div class="col-8">
                                        <input class="form-control" placeholder="Enter Keyword">
                                    </div>
                                </div>
                                <div class="col-6 row">
                                    <div class="col-3 mt-1 ">
                                        <b>Status :</b>
                                    </div>
                                    <div class="col-8">
                                        <mat-select placeholder="Select Status" class='form-control'>
                                            <mat-option value="true">Active</mat-option>
                                            <mat-option value="false">Inactive</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" style="margin-top: 10px;">
                                <a (click)="filterToggle = !filterToggle" class="pull-right"
                                    style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                                </a>
                                <button mat-raised-button class="pull-right"
                                    (click)="filterForm.reset();formInit();getAllCityMaster();"
                                    style="background-color:#37474f; color:#fff !important; margin-left:10px ;">
                                    <mat-icon>settings_backup_restore</mat-icon> Clear
                                </button>
                                <button mat-raised-button color="primary" (click)="getAllCityMaster();"
                                    class="pull-right btn-primary" style="margin-left: 10px;">
                                    <mat-icon>youtube_searched_for</mat-icon> Search
                                </button>
                            </div>
                        </mat-card-content>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>


    <!--table -->
    <div class="container-fluid" style="padding-right: 1px; padding-left: 0px;">
        <div fxLayout="row wrap" #resizedDiv>
            <div class="flex-p w-100 sizeAlign">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="grid-table-container" class="table-responsive">
                            <table matSort id="example2" class="table table-bordered table-hover">
                                <thead class="tbl-head">
                                    <tr>
                                        <th>Section Name</th>
                                        <th>Audit Type</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center" style="width: 112px!important;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody dragula="MONITORSTEPS" [(dragulaModel)]="tableList">
                                    <tr *ngFor="let item of supplyDetails">
                                        <td><span><i class="fa fa-arrows"></i>{{item.section}}
                                            </span> </td>
                                        <td>{{item.Audit}}</td>
                                        <td style="text-align: center !important;">
                                            <a [ngStyle]="{'color': item.status? 'blue' : 'red','cursor':'pointer'}"
                                                placement="left" (confirm)="saveStatus();item.status=!item.status"
                                                matTooltip="Click to Change Status">
                                                {{item.status?'Active':'Inactive'}}
                                            </a>
                                        </td>

                                        <td class="text-center editDel">
                                            <a style="cursor: pointer;margin-right:0px;margin-left: -5px; "
                                                matTooltip="Edit" (click)="addmodule(item)">
                                                <i class="fa fa-edit" style="color: cornflowerblue"></i>
                                            </a>
                                            <a><i class="fa fa-trash red" matTooltip="Delete"
                                                    style="cursor: pointer;"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--Pagination-->
                            <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
                                [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>