<div class="row col-12 mt-5">
  <div class="col-6">
    <div class="chart-header">
      <h3 style="color: #212121;font-size:26;margin-top:10px;margin-left: 20%;">Defect Distribution by Category</h3>
    </div>
    <div id="grid-table-container" class="table-responsive" style="margin-top:25px;width: 95%;margin-left:17px">
      <table matSort id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
          <tr>
            <th class="text-center">Category</th>
            <th class="text-center">Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="text-center">{{item.Category }}</td>
            <!-- <td class="text-center">{{item.issues }}</td> -->
            <td class="text-center">{{item.demerit }}</td>
          </tr>
          <!-- <tr>
            <td class="text-center">Total</td>
            <td class="text-center">27</td>
            <td class="text-center">2041</td>
          </tr> -->
        </tbody>
      </table>

    </div>

  </div>

  <div class="col-6">
    <mat-card>
      <div class="chart-header">
        <p style="font-size: 20px;margin-top:10px; text-align: center;">Defect Distribution by Category</p>
      </div>
      <!-- <div class="w-200 h-300p"> -->
      <ngx-charts-pie-chart [scheme]="colorScheme" [results]="first" [explodeSlices]="explodeSlices"
        [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient">
      </ngx-charts-pie-chart>
    </mat-card>
  </div>

  <!-- <div class="col-3">
    <mat-card>
      <div class="chart-header">
        <p style="font-size: 20px;margin-top:10px;margin-left: 36%;">By Demerits</p>
      </div>
      <ngx-charts-pie-chart [scheme]="colorScheme" [results]="three" [explodeSlices]="explodeSlices"
        [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient">
      </ngx-charts-pie-chart>
    </mat-card>
  </div> -->
</div>