<div class="NewHeader">
    <i class="fa fa-times" aria-hidden="true"
        style="float: right !important;margin: 0 10px 0px 0;font-size: 17px;    cursor: pointer;" (click)="close()"></i>
    <h1 mat-dialog-title>Reset Password</h1>
</div>


<div mat-dialog-content>
    <form [formGroup]="myform">

        <div class="form-group col-sm-12">
            <label class="control-label col-lg-5 col-md-5 col-sm-5 col-xs-5 add-member-label">New Password: </label>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <input type="password" maxlength="100" formControlName="Password" class="form-control" maxlength="50"
                    placeholder="Please Enter New Password" required>
                <div *ngIf="!myform.controls.Password.valid && (myform.controls.Password.dirty || myform.controls.Password.touched)"
                    class="error-text">
                    <div *ngIf="myform.controls.Password.errors.required">
                        Password is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="control-label col-lg-5 col-md-5 col-sm-5 col-xs-5 add-member-label">Confirm Password: </label>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <input type="password" maxlength="100" formControlName="UserPassword" class="form-control"
                    maxlength="50" placeholder="Please Confirm New Password" required>
                <div *ngIf="!myform.controls.UserPassword.valid && (myform.controls.UserPassword.dirty || myform.controls.UserPassword.touched)"
                    class="error-text">
                    <div *ngIf="myform.controls.UserPassword.errors.required">
                        Confirm Password is required.
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="end" style="margin-right: 30px !important;">
    <button mat-raised-button class="btn-primary" [mat-dialog-close]="'test'">
        <mat-icon>save</mat-icon><span>Save</span>
    </button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">
        <mat-icon>cancel</mat-icon>Close
    </button>
</mat-dialog-actions>