<!-- <div class="row-wrap mt-3">
    <div class="w-100">
        <div class="col-xs-12 mb-5" style="margin-top: 15px;">
            <div class="pills">
                <ul class="nav nav-pills" sty le="margin-left: 10px;"> -->
<!-- <li routerLinkActive="active" [routerLink]="['agency-trend']">
                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                            Agency Trend
                        </a>
                    </li> -->
<!-- <li routerLinkActive="active" [routerLink]="['agency-type-trend']">
                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                            Agency Type Distribution
                        </a>
                    </li> -->
<!-- <li routerLinkActive="active" [routerLink]="['location-trend']">
                        <a mat-raised-button class="" style="margin-top: 10px;">
                            Location Trend
                        </a>
                    </li> -->
<!-- <li routerLinkActive="active" [routerLink]="['model-trend']">
                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                            Model Distribution
                        </a>
                    </li>
                    <li routerLinkActive="active" [routerLink]="['obj-scatter-graph']">
                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                            Scatter Graph Trend&nbsp;&nbsp;
                        </a>
                    </li>
                    <li routerLinkActive="active" [routerLink]="['obj-bellcurve-graph']">
                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                            Bell Curve Graph&nbsp;&nbsp;
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet> -->