<!-- <div class="col-sm-12 mt-4 mb-3">
    <div class="" align="end">
        <button style="margin-bottom: 7px" mat-raised-button color="primary"
            class="pull-right  btn-primary margin-right-5 mt-3" (click)="addtarget(null)">
            <mat-icon>add</mat-icon> Add Image
        </button>
        <button style="margin-bottom: 7px" mat-raised-button class="pull-right  btn-primary margin-right-10 mt-3"
            (click)="openUploadCSV()">
            <mat-icon>cloud_upload</mat-icon> Upload CSV
        </button>
        <button style="margin-bottom: 7px" mat-raised-button class="pull-right  btn-primary margin-right-10 mt-3"
            (click)="downloadSampleExcel()">
            <mat-icon>archive</mat-icon> Download Sample CSV
        </button>
        <button style="margin-bottom: 7px" mat-raised-button class="pull-right filters-hover margin-right-10 mt-3"
            (click)="filterToggle = !filterToggle">
            <mat-icon>filter_list</mat-icon> ZIP File Upload
        </button>
        <div class="col-sm-6 form-group pull-right ">
            <label class="control-label col-sm-4 mt-4">Sort By:
            </label>
            <div class="col-sm-6 mt-4">
                <mat-select class="form-control" placeholder="Select Fuel Type" required>
                    <mat-option [value]="0">Petrol</mat-option>
                    <mat-option [value]="1">Diesel</mat-option>
                    <mat-option [value]="2">EV</mat-option>
                </mat-select>
            </div>
        </div>
    </div>
</div> -->

<div class="col-sm-12 mt-4 mb-3">
    <button style="margin-bottom: 7px" mat-raised-button class="pull-right  btn-primary margin-right-5 mt-3"
        (click)="addtarget(null)">
        <mat-icon>add</mat-icon> Add Image
    </button>
    <button style="margin-bottom: 7px" mat-raised-button color="primary"
        class="pull-right filters-hover margin-right-10 mt-3" (click)="filterToggle = !filterToggle">
        <mat-icon>filter_list</mat-icon> Filter
    </button>
    <button style="margin-bottom: 7px" mat-raised-button class="pull-right  btn-primary margin-right-10 mt-3"
        (click)="openUploadCSV()">
        <mat-icon>cloud_upload</mat-icon> Upload CSV
    </button>
    <button style="margin-bottom: 7px" mat-raised-button class="pull-right  btn-primary margin-right-10 mt-3"
        (click)="downloadSampleExcel()">
        <mat-icon>archive</mat-icon> Download Sample
    </button>
    <div class="switchToggle pull-right" style="margin-right:10px!important; margin-top: 5px!important;">
        <input type="checkbox" (click)="gridToggle = !gridToggle" id="switch" />
        <label class="mt-3" style="background-color: #3e98d3;" for="switch">Toggle</label>
    </div><label class="pull-right" style="margin-top:18px; margin-right: 16px;">Sort By : </label>
</div>

<div class="col-sm-12">
    <table matSort id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
            <tr>
                <th class="text-left">Image Title</th>
                <th class="text-left">Audit Seq</th>
                <th class="text-left">Dash Seq</th>
                <th class="theadcolor">Audit Type</th>
                <th class="theadcolor ">Module Name</th>
                <th>Image</th>
                <th class="text-center">Grid</th>
                <th class="theadcolor text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of values">
                <td>{{item.title}}</td>
                <td>{{item.audit}}</td>
                <td>{{item.audit}}</td>
                <td class="">{{item.Audit}}</td>
                <td class="">{{item.modulename}}</td>
                <td class="text-center">
                    <mat-icon style="cursor: pointer;" (click)="imageSource1(item.image)">visibility
                    </mat-icon>
                </td>
                <td class="text-center">10X10
                </td>
                <td class="text-center editDel">
                    <a style="cursor: pointer;margin-right:10px; " matTooltip="Edit" (click)="addtarget(item)">
                        <i class="fa fa-edit" style="color: cornflowerblue"></i>
                    </a>
                    <a><i class="fa fa-trash red" matTooltip="Delete" style="cursor: pointer;"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="4" [pageIndex]="0" [pageSize]="4" [pageSizeOptions]="[5, 10, 25, 50, 100]"
        showFirstLastButtons></mat-paginator>
</div>