<div class="pills col-sm-12" style="margin-left: 20px; margin-top: 10px;">
    <ul class="nav nav-pills">
        <li routerLinkActive="active" routerLink="active">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Active
            </a>
        </li>

        <li routerLinkActive="active" routerLink="overdue">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Overdue
            </a>
        </li>

        <li routerLinkActive="active" routerLink="resolved">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Resolved
            </a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>