<div class="col-sm-12" style="margin-left: -13px;">
    <div class="">
        <button mat-raised-button color="primary" style="    margin-right: 143px;margin-bottom: 15px;"
            class="pull-right btn-primary mt-3" (click)="addMeeting(null)">
            <mat-icon>add</mat-icon> Add Action
        </button>


    </div>
</div>



<div class="row">
    <div class="form-group ">
        <h2><label class="col-lg-12 control-label"> Root Cause Analysis: </label></h2>
        <div class="col-lg-12 ">
            <textarea type="text" class="form-control" style="height: 131px; width: 27cm; "
                placeholder="Enter Root Cause Analysis" required></textarea>
        </div>
    </div>

    <div class="form-group ">
        <h2><label class="col-lg-12 control-label"> Interim Corrective Action: </label></h2>
        <div class="col-lg-12 ">
            <textarea type="text" class="form-control" style="height: 131px; width: 27cm; "
                placeholder="Enter Interim Corrective Action" required></textarea>

        </div>
    </div>

    <div class="form-group ">
        <h2><label class="col-lg-12 control-label"> Permanent Corrective Action: </label></h2>
        <div class="col-lg-12 ">
            <textarea type="text" class="form-control" style="height: 131px; width: 27cm; "
                placeholder="Enter Permanent Corrective Action" required></textarea>

        </div>
    </div>
</div>
<div align="end" style="margin-top: 35px;">
    <!-- <button mat-raised-button class="mr-2 vamshi1" type="button" style="color: rgb(6, 6, 6); ">
        <mat-icon>send</mat-icon> &nbsp; Save Draft
    </button> &nbsp; -->
    <button mat-raised-button class=" pull-right vamshi" type="button"
        style="color: rgb(251, 253, 251); background-color:rgb(10, 93, 182); margin-right: 160px;">
        <mat-icon>save</mat-icon>
        Submit
    </button>
    <button type="button" class="btn btn-outline-success" style="margin-right: 10px; height: 41px;">Save
        Draft</button>

</div>

<!-- <button mat-raised-button class="btn-primary" [mat-dialog-close]="'test'">
    <mat-icon>send</mat-icon><span>{{data ? 'Update' : 'Save'}}</span>
</button> -->