<div class="col-sm-12 row-wrap">
  <div class="row-wrap">
    <div class="w-100">
      <div class="col-sm-12">
        <div class="pills">
          <ul class="nav nav-pills">


            <li routerLinkActive="active" routerLink="process-cat">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Process Audit Categories
              </a>
            </li>

            <li routerLinkActive="active" routerLink="commodity">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Comnodity Master
              </a>
            </li>

            <!-- <li routerLinkActive="active" routerLink="sub-setup-audit-types">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Audit Types
              </a>
            </li>
            <li routerLinkActive="active" routerLink="section">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Sections
              </a>
            </li>
            <li routerLinkActive="active" routerLink="sub-setup-module-master">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Modules
              </a>
            </li>
            <li routerLinkActive="active" routerLink="part">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Parts
              </a>
            </li>
            <li routerLinkActive="active" routerLink="sub-setup-function-master">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Functions
              </a>
            </li>
            <li routerLinkActive="active" routerLink="sub-setup-image-gallery">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Image Gallery
              </a>
            </li>
            <li routerLinkActive="active" routerLink="sub-setup-defect-master">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Defect
              </a>
            </li>
            <li routerLinkActive="active" routerLink="sub-setup-issues-master">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Issue
              </a>
            </li>


            <li routerLinkActive="active" routerLink="sub-setup-monthly-targets">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Monthly Targets
              </a>
            </li>
            <li routerLinkActive="active" routerLink="sub-setup-agency-targets">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Agency Targets
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>