<div class="row col-12 mt-5">
  <div class="col-6">
    <div class="chart-header">
      <h3 style="color: #212121;font-size:26;margin-top:10px;margin-left: 20%;">Defect Distribution by Variant</h3>
    </div>
    <div id="grid-table-container" class="table-responsive" style="margin-top:25px;width: 95%;margin-left:17px">

      <table matSort id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
          <tr>
            <th class="text-center">Variant</th>
            <!-- <th class="text-center">Issues</th> -->
            <th class="text-center">Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="text-center">{{item.variant }}</td>
            <!-- <td class="text-center">{{item.issues }}</td>  -->
            <td class="text-center">{{item.demerit }}</td>
          </tr>
          <!-- <tr>
            <td class="text-center">Total</td>
            <td class="text-center">47</td>
            <td class="text-center">355</td>
          </tr> -->
        </tbody>
      </table>

    </div>

  </div>

  <div class="col-6">
    <mat-card>
      <div class="chart-header">
        <p style="font-size: 20px;margin-top:10px;text-align: center;">Defect Distribution by Variant</p>
      </div>
      <ngx-charts-pie-chart [scheme]="colorScheme" [results]="first" [explodeSlices]="explodeSlices"
        [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient">
      </ngx-charts-pie-chart>
    </mat-card>
  </div>
  <!-- <div class="col-3">
    <mat-card>
      <div class="chart-header">
        <p style="font-size: 20px;margin-top:10px;text-align: center;">By Demerit</p>
      </div>
      <ngx-charts-pie-chart [scheme]="colorScheme" [results]="three" [explodeSlices]="explodeSlices"
        [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient">
      </ngx-charts-pie-chart>
    </mat-card>
  </div> -->
</div>